:root {
  --color-primary: #888C8D;
  --color-secondary: #d7BE69;
  --color-accent: Black;
  --font-primary: "Bennet Display", sans-serif;
  --font-secondary: "kazmir",serif;
}

html {
  font-family: var(--font-primary);
}
